.columns(@count, @width) {
	-webkit-column-count: @count;
	-moz-column-count: @count;
	column-count: @count;
	-webkit-column-width: @width;
	-moz-column-width: @width;
	column-width: @width;
}
.column-gap(@value) {
	-webkit-column-gap: @value;
	-moz-column-gap: @value;
	column-gap: @value;
}
.column-span(@value) {
	-webkit-column-span: @value;
	column-span: @value;
}