// --- Variables for Advertisement Styles ---

// - ad banner dimensions

@superbannerWidth:  728px;
@superbannerHeight: 90px;

@skyscraperWidth: 300px;

// - placement widths including spacing (for positioning etc.)

@spacingBetweenSuperbannerAndContent: 0;
@spacingBetweenSkyscraperAndContent: 0;
@superbannerPlacementWidth:  (@superbannerWidth  + @spacingBetweenSuperbannerAndContent); // spacing to the left
@superbannerPlacementHeight: (@superbannerHeight + @spacingBetweenSuperbannerAndContent); // spacing to the bottom
@skyscraperPlacementWidth:   (@skyscraperWidth   + @spacingBetweenSkyscraperAndContent); // spacing to the left

// - variables for skyscraper magic

@hasSpaceForPartialSkyscraperMin: @breakpointDeskMin;
@hasSpaceForPartialSkyscraperMax: (@breakpointDeskMin + @skyscraperPlacementWidth - 1px);

@hasSpaceForSingleSkyscraperMin:  @breakpointDeskMin;
@hasSpaceForSingleSkyscraperMax:  (@contentColumnMaxWidth + (2 * @skyscraperPlacementWidth) - 1px);

@hasSpaceForSingleSkyscraperWithCompressedPageMin: (@breakpointDeskMin + @skyscraperPlacementWidth);
@hasSpaceForSingleSkyscraperWithCompressedPageMax: (@contentColumnMaxWidth + @skyscraperPlacementWidth - 1px);

@hasSpaceForSingleSkyscraperWithUncompressedPageMin: (@contentColumnMaxWidth + @skyscraperPlacementWidth);
@hasSpaceForSingleSkyscraperWithUncompressedPageMax: @hasSpaceForSingleSkyscraperMax;

// ..turned into media queries:
@mediaQueryCanShowPartialSkyscraper:                    ~"(min-width: @{hasSpaceForPartialSkyscraperMin}) and (max-width: @{hasSpaceForPartialSkyscraperMax})";
@mediaQueryCanShowPartialSkyscraperAndUp:               ~"(min-width: @{hasSpaceForSingleSkyscraperMin})";
@mediaQueryCanShowSingleSkyscraper:                     ~"(min-width: @{hasSpaceForSingleSkyscraperMin}) and (max-width: @{hasSpaceForSingleSkyscraperMax})";
@mediaQueryCanShowSingleSkyscraperWithCompressedPage:   ~"(min-width: @{hasSpaceForSingleSkyscraperWithCompressedPageMin}) and (max-width: @{hasSpaceForSingleSkyscraperWithCompressedPageMax})";
@mediaQueryCanShowSingleSkyscraperWithUncompressedPage: ~"(min-width: @{hasSpaceForSingleSkyscraperWithUncompressedPageMin}) and (max-width: @{hasSpaceForSingleSkyscraperWithUncompressedPageMax})";
