// --- Variables for Buttons ---

// --- Dimensions ---

@relativeButtonHeight:    2.5em;
@buttonPaddingHorizontal: 2em;
@buttonPaddingVertical:   0.45em;
@buttonRadius:            @borderRadiusStandard;
@buttonDisabledOpacity:   0.35;

// --- Colors/Themes ---
// note: these differ from the official set of colors in some places;

// --- Orange Button
@buttonOrangeBorder:          #f57000;
@buttonOrangeBackground:      @is24orange;
@buttonOrangeTextColor:       @white;
@buttonOrangeHoverBackground: @orange5;

// --- Blue Button
@buttonBlueBorder:          #00578d;
@buttonBlueBackground:      #005e99;
@buttonBlueTextColor:       @white;
@buttonBlueHoverBackground: #0075be;

// --- white button
@buttonWhiteBorder:          @borderColorStandard;
@buttonWhiteBackground:      @white;
@buttonWhiteTextColor:       @is24blue;
@buttonWhiteHoverBackground: @blue9;