// --- Variables for the Campaign Box ---

@campaignBoxBorderWidthPalm:       6px;
@campaignBoxBorderRadiusPalm:      50px;
@campaignBoxVerticalPaddingPalm:   @palmSpacingL;
@campaignBoxHorizontalPaddingPalm: @palmSpacingXL;

@campaignBoxBorderWidthLapAndUp:       8px;
@campaignBoxBorderRadiusLapAndUp:      72px;
@campaignBoxVerticalPaddingLapAndUp:   @lapAndUpSpacingL;
@campaignBoxHorizontalPaddingLapAndUp: @lapAndUpSpacingXL;