// --- Variables for Forms ---

// --- Standards

@formSpacingPalm:     @palmSpacingM;
@formSpacingLapAndUp: @lapAndUpSpacingM;

@formElementBorderColor:      @gray7;
@formElementBorderColorFocus: @gray5;

@formElementPadding: .7142em;
@formElementHeight:  3em;
@formElementSelectPadding: .7142em; // only here for legacy reasons // todo: delete with next major release
@formElementSelectHeight:  3em; // only here for legacy reasons // todo: delete with next major release

@formLabelBottomMargin: 2px;
@formLabelColor: @gray4;

// --- Themes

@formThemeWhiteBackgroundColor:      @white;
@formThemeWhiteFieldsetBorderColor1: @borderColorStandard;
@formThemeWhiteFieldsetBorderColor2: @blue9;

@formThemeBlueBackgroundColor:      @gray9;
@formThemeBlueFieldsetBorderColor1: @borderColorStandard;
@formThemeBlueFieldsetBorderColor2: @white;