// --- General Variables ---
// this is more or less a collection of variables that fit nowhere else - may be broken up into smaller parts where necessary

// --- State Prefixes
// To be used in mixins to form state-specific class names
@empty: ~"";
@prefixPalm:  palm-;
@prefixLap:   lap-;
@prefixDesk:  desk-;
@prefixPrint: print-;

// --- Colors

// CI colors
@is24orange: @orange4;
@is24blue: @blue1;

// other standard colors
@white: #fff;

// backgrounds
@boxBackgroundColorPrimary:   @blue9;
@boxBackgroundColorSecondary: @gray9;

// signal colors
@signalColorErrorDark:    @red3;
@signalColorErrorLight:   @red9;
@signalColorWarningDark:  @orange1;
@signalColorWarningLight: @statusWarningLight;
@signalColorConfirmDark:  @green1;
@signalColorConfirmLight: @green9;
@signalColorInfoDark:     @blue1;
@signalColorInfoLight:    @blue9;

// --- applied colors; semantic variables

@footerColor: @textColorLight;

// --- Borders

@borderWidthStandard: 1px;
@borderRadiusStandard: 3px;

@borderColorStandard: @gray8;

// --- Shadows

@shadowBlurStandard:    5px;
@shadowOffsetXStandard: 0px;
@shadowOffsetYStandard: 5px;
@shadowSpreadStandard:  -5px;
@shadowColorStandard:   @gray6;

// --- Z-Index

@fixToTopZIndex: 2000;