// --- Media Query Variables ---

// --- Breakpoints

// palm-sized
@breakpointPalmMax: 668px;

// lap-sized
@breakpointLapMin: 669px; // 660 + 7px left margin and 2px left padding on .page-wrapper
@breakpointLapMax: 1013px;

// desktop
@breakpointDeskMin: 1014px;

// --- Media Query Strings

@mediaQueryLapAndUp:  ~"(min-width: @{breakpointLapMin})";
@mediaQueryDeskAndUp: ~"(min-width: @{breakpointDeskMin})";

@mediaQueryPalmOnly: ~"(max-width: @{breakpointPalmMax})";
@mediaQueryLapOnly:  ~"(min-width: @{breakpointLapMin}) and (max-width: @{breakpointLapMax})";
@mediaQueryDeskOnly: ~"(min-width: @{breakpointDeskMin})";

@mediaQueryPrintOnly: ~"print";

// --- Non-standard Media Query Strings

// may be used to reduce overwriting in cases where layouts are radically different between states
@mediaQueryLapAndUnder: ~"(max-width: @{breakpointLapMax})";


// --- Layout-specific Media Queries

@mediaQueryCanShowUncompressedPage: ~"(min-width: @{pageWidthMax})";


// --- Browser-specific Media Queries

@mediaQueryIE9Only:   ~"(min-width: 0\0) and (min-resolution: .001dpcm)";
@mediaQueryAllButIE8: ~"(min-width: 1px)";


// Legacy Variables for Backward Compatibility
// todo: remove with next major version

@BreakpointPalmMax: @breakpointPalmMax;
@BreakpointLapMin:  @breakpointLapMin;
@BreakpointLapMax:  @breakpointLapMax;
@BreakpointDeskMin: @breakpointDeskMin;