// --- Page Frame Variables ---

// --- Page Dimensions

@pageBorderWidth: 1px;
@pageBorderColor: @borderColorStandard;

@pageHorizontalSpacingDeskAndUp: (@lapAndUpSpacingS - @pageBorderWidth);

@pageWidthMin: @breakpointDeskMin;
@pageWidthMax: 1170px;

// --- Content Column Dimensions

@contentColumnHorizontalPaddingPalm:     @palmSpacingL;
@contentColumnHorizontalPaddingLapAndUp: @lapAndUpSpacingL;
@contentColumnMaxWidth: 1170px;

// --- Colors

@bodyBackgroundColor: @white;
@pageBackgroundColor: @white;