// --- Spacing Variables ---

// --- Palm-sized Devices
@palmSpacingXS:       2px;
@palmSpacingS:        4px;
@palmSpacingM:        8px;
@palmSpacingL:        16px;
@palmSpacingXL:       24px;
@palmSpacingXXL:      32px;
@palmSpacingStandard: @palmSpacingM;

// --- Lap-sized and Larger Devices
@lapAndUpSpacingXS:       4px;
@lapAndUpSpacingS:        8px;
@lapAndUpSpacingM:        16px;
@lapAndUpSpacingL:        24px;
@lapAndUpSpacingXL:       32px;
@lapAndUpSpacingXXL:      40px;
@lapAndUpSpacingStandard: @lapAndUpSpacingM;

// -- Gutter specific standard spacing size

@palmGutterSpacingStandard: @palmSpacingL;
@lapAndUpGutterSpacingStandard: @lapAndUpSpacingL;