// --- Typography Variables ---

// --- Font Families

@fontFamilyStandard:  'Open Sans', Verdana, 'DejaVu Sans', Arial, Helvetica, sans-serif;
@fontFamilyHeadlines: 'Open Sans', Tahoma, Geneva, Arial, sans-serif;
@fontFamilyMonospace: monospace, sans-serif;

// --- Font Sizes

@rootFontSize: 62.5%;  // base 10px

@palmFontSizeXS:       1.1rem;
@palmFontSizeS:        1.3rem;
@palmFontSizeStandard: 1.4rem;
@palmFontSizeM:        1.4rem;
@palmFontSizeL:        1.8rem;
@palmFontSizeXL:       2.0rem;
@palmFontSizeXXL:      2.3rem;
@palmFontSizeXXXL:     3.2rem;

@lapAndUpFontSizeXS:       1.1rem;
@lapAndUpFontSizeS:        1.3rem;
@lapAndUpFontSizeStandard: 1.4rem;
@lapAndUpFontSizeM:        1.8rem;
@lapAndUpFontSizeL:        2.1rem;
@lapAndUpFontSizeXL:       2.6rem;
@lapAndUpFontSizeXXL:      3.2rem;
@lapAndUpFontSizeXXXL:     4.2rem;

@fontSizeFineprintPalm:     @palmFontSizeS;
@fontSizeFineprintLapAndUp: @lapAndUpFontSizeS;

// --- Line Heights

@lineHeightXS: 1.15;
@lineHeightSmall: 1.45;
@lineHeightStandard: 1.6;
@lineHeightFinePrint: @lineHeightSmall;

@lineHeightHeadline: 1.33;

// --- Colors

// regular text
@textColorStandard: @gray1;
@textColorLight:    @gray5;
@headlineColor:     @black1;
@fineprintColor:    @textColorLight;

// --- Links

// colors
@linkColor:           #2a7cca;
@linkHoverColor:      @is24orange;
@linkVisitedColor:    #636;
@linkDisabledColor:   @textColorStandard;
@linkInHeadlineColor: @blue2;

// decoration
@linkTextDecoration:        none;
@linkVisitedTextDecoration: none;
@linkHoverTextDecoration:   underline; // applies to hover, focus, and active states

// icons
@linkIconStandardColor:         @orange5;
@linkIconStandardDisabledColor: @gray5;

// --- Spacing

// headlines
@headlineBottomMarginStandard: .4em;